@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.1s ease-out forwards;
}

.delay-150 {
  animation-delay: 0.15s;
}

.delay-300 {
  animation-delay: 0.3s;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 1s ease forwards;
}

.animate-fade-in {
  animation: fade-in 1.2s ease forwards;
}

.delay-150 {
  animation-delay: .15s
}

.delay-200 {
  animation-delay: .2s
}

.delay-300 {
  animation-delay: .3s
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

/* Ocultar scrollbar completamente */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ================= SCROLL PREMIUM ================= */
.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 130, 246, 0.7) transparent;
  scroll-behavior: smooth;
}

/* Chrome / Edge / Safari */
.scroll-custom::-webkit-scrollbar {
  width: 8px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      #3b82f6,
      #6366f1);
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.35);
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,
      #2563eb,
      #4f46e5);
}

/* Scroll invisible hasta hover (opcional) */
.scroll-custom::-webkit-scrollbar {
  width: 0;
}

.scroll-custom:hover::-webkit-scrollbar {
  width: 8px;
}